

.margin
{
	margin-left: 200px;
	margin-top: -430px;

}

.margin1
{
	margin-left: 250px;
	margin-top: -430px;

}


.margin2
{
	margin-left: 700px;
	margin-top: -210px;

}

.margin3
{
	margin-left: 250px;
	margin-top: -430px;

}


.margin4
{
	margin-left: 200px;
	margin-top: -250px;

}



